---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Lecturer in the following courses:

• Computational Thinking (Information Science Bachelor) [2 periods]: Computational thinking, introduction to programming, Python, Information Retrieval.

• (Course coordinator) Computational Thinking and Programming with Python (Multi-program bachelor and master course) [2 periods]: Computational thinking, introduction to programming, Python.

• Data Science-Programming with Python (Summer school) [1 period]: Computational thinking, introduction to programming, Python.

Student supervisor:

• Main supervisor:  bachelor’s theses (5)  in Information Science, Software Project (1) in Computer Science.

• Co-supervisor: master’s thesis in Human-Computer Interaction (1), bachelor honours project (1) in Computer Science and Information Science.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
